:root {
    --ui-primary-color: #FFF9E3;
    --ui-secondary-color: #E9DFBB;
    --collapsible-color: #FFF5CF;
}
* {
    margin: 0;
    padding: 0;
}
html {
    /* background-image: url("/ui/cities_bg_palette.png"); */
    /* background-image: url("/complete-stacklands-cardopedia/ui/cities_bg_palette.png"); */
    background-size: 750px 600px;
    background-repeat: repeat;
}
main {
    display: flex;
}
li {
    list-style-position: inside;
}

/**** ALL ELEMENTS ****/
a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgray;
}
a:hover {
    text-decoration-color: black;
    background-color: var(--collapsible-color);
}
.icon {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
.collapsible-header {
    background-color: var(--collapsible-color);
    display: block;
    padding: 5px;
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.collapsible-content.open {
    max-height: 100vh;
}
.inline {
    display: inline;
}
.italics {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.space-after {
    margin-bottom: 1em;
}
.double-space-after {
    margin-bottom: 2em;
}
.right {
    float: right;
}

/**** LEFT SIDEBAR ****/
.sidebar {  
    width: 20%;
    height: 88.5vh;
    margin: 5px;
    padding: 1em;

    border: 5px solid black;
    background-color: var(--ui-primary-color);

    /*** NAVBAR ***/
    nav {
        display: flex;
        justify-content: space-evenly;

        border: 2px solid black;

        .nav-item {
            flex-basis: 34px;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: var(--ui-secondary-color);
        }
        .nav-item:hover {
            background-color: var(--ui-primary-color);
        }
        .nav-image {
            width: 24px;
            height: 24px;
            margin: 3px 20% 0px;
        }
    }
    .card-count {
        margin: 3px 0px 1px;
    }
    .search-bar {
        width: 97%;
        padding: 3px;
        font-size: medium;
        background-color: var(--ui-primary-color);
        border: 2px solid black;
    }

    /*** CARD LIST ***/
    .card-list {
        width: 100%;
        height: 79%;
        margin-top: 10px;
        /* border: 1px solid black; */
        overflow: auto;

        .card-list-item {
            display: block;
            padding: 5px;
        }
        .category {
            background-color: var(--collapsible-color);
        }
        .ind-card {
            text-decoration: none;
        }
    }
}

/**** DISPLAY AREA ****/
.display-area {
    width: 60%;
    height: 88vh;
    /* border: 1px solid black; */
    margin: 5px;

    /*** DISPLAY CARD ***/
    .display-card {
        position: relative;
        width: 200px;
        height: 250px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.larger {
    width: 84% !important;
}

/**** RIGHT SIDEBAR ****/
    .card-detail {
        width: 20%;
        height: 88.5vh;
        margin: 5px;
        padding: 1em;

        border: 5px solid black;
        background-color: var(--ui-primary-color);
    }

/**** FOOTER ****/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--ui-primary-color);
    border-top: 1px solid var(--collapsible-color);

    p {
        text-align: center;
        padding: 5px 0px 5px;
    }
}