:root {
    --ui-primary-color: #FFF9E3;
    --ui-secondary-color: #E9DFBB;
    --collapsible-color: #FFF5CF;
}
* {
    margin: 0;
    padding: 0;
}
html {
    /* background-image: url("/ui/cities_bg_palette.png"); */
    background-image: url("/complete-stacklands-cardopedia/ui/cities_bg_palette.png");
    background-size: 750px 600px;
    background-repeat: repeat;
}
main {
    display: flex;
}

/**** ALL ELEMENTS ****/
a {
    color: black;
    text-decoration: underline;
    text-decoration-color: lightgray;
}
a:hover {
    text-decoration-color: black;
    background-color: var(--collapsible-color);
}
.icon {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
.collapsible-header {
    background-color: var(--collapsible-color);
    display: block;
    padding: 5px;
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.collapsible-content.open {
    max-height: 500rem;
}
.inline {
    display: inline;
}
.bold {
    font-weight: 900;
}
.italics {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.subscript {
    font-size: xx-small;
}
.space-after {
    margin-bottom: 1em;
}
.double-space-after {
    margin-bottom: 2em;
}
.right {
    float: right;
}

/**** LEFT SIDEBAR ****/
.sidebar {
    position: relative;
    flex-grow: 1;
    /*width: 20%;*/
    height: 88.5vh;
    margin: 5px;
    padding: 1em;

    border: 5px solid black;
    background-color: var(--ui-primary-color);

    /*** NAVBAR ***/
    nav {
        display: flex;
        justify-content: space-evenly;

        border: 2px solid black;

        .nav-item {
            flex-basis: 34px;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: var(--ui-secondary-color);
        }
        .nav-item:hover, .nav-item.selected {
            background-color: var(--ui-primary-color);
        }
        .nav-image {
            width: 24px;
            height: 24px;
            margin: 3px 20% 0px;
        }
    }

    .card-count {
        margin: 3px 0px 1px;
    }
    .search-area {
        display: flex;
        align-items: center;

        .search-bar {
            width: 86%;
            padding: 3px;
            font-size: medium;
            background-color: var(--ui-primary-color);
            border: 2px solid black;
        }
        .tags-trigger {
            width: 24px;
            height: 24px;
            margin-left: 3px;
            padding: 0.5px;
            border: 2px solid black;
        }
    }
    .tags-tooltip {
        position: absolute;
        width: 40%;
        top: 10%;
        left: 105%;
        padding: 0.5em;
        border: 3px solid black;
        background-color: var(--ui-primary-color);
        visibility: hidden;
    }
    .tags-tooltip.visible {
        visibility: visible;
    }

    /*** CARD LIST ***/
    .card-list {
        width: 100%;
        height: 79%;
        margin-top: 10px;
        /* border: 1px solid black; */
        overflow: auto;

        .card-block {
            display: block;
            padding: 5px;
            text-decoration: none;
        }
    }
}

/**** DISPLAY AREA ****/
.display-area {
    flex-grow: 11;
    /* width: 60%; */
    height: 88vh;
    /* border: 1px solid black; */
    margin: 5px;

    /*** DISPLAY CARD ***/
    .display-pos {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .display-card {
        width: 200px;
        height: 250px;
    }
    .display-pack {
        width: 220px;
        height: 300px;
    }
}
.larger {
    flex-grow: 12;
}

/**** RIGHT SIDEBAR ****/
.card-detail {
    flex-grow: 1;
    /* width: 20%; */
    height: 88.5vh;
    margin: 5px;
    padding: 1em;

    border: 5px solid black;
    background-color: var(--ui-primary-color);
}

/**** FOOTER ****/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--ui-primary-color);
    border-top: 1px solid var(--collapsible-color);

    p {
        text-align: center;
        padding: 5px 0px 5px;
    }
}